---
import HeroSection from "../components/HeroSection";
import Layout from "../layouts/Layout.astro";
import { Image } from "@nextui-org/react";
---

<Layout title="Landing Page">
  <div class="bg-[#006676] min-h-screen">
    <div class="absolute right-0 top-0 w-3/5 hidden xl:block z-0">
      <Image src="./assets/cloud-big.svg" alt="cloud-big" />
    </div>
    <div class="p-6">
      <Image src="assets/logo.svg" alt="logo" />
    </div>
    <HeroSection client:visible />
  </div>
</Layout>
